
/* Big tablets to 1200px (widths smaller than 1140px row) */
@media only screen and (max-width: 1200px) {

}

/* Small tablets to big tablets from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    
}

/* Small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {
    .App {
        max-width: 480px;

        .MonitorIndicators__head {
            //flex-direction: column;

            .MonitorIndicators__PeriodResult {
                width: 100%;

                .Period__title { font-size: 0.9em; }
                .Result h2 { font-size: 1em; }
            }

            .MonitorIndicators__SummsActions {
                width: 50%;
            }
        }

        .Limits {
            width: 50%;            
            flex-direction: column;
            padding: 0;

            .Limits__title { 
                width: 100%; 
                font-size: 0.9em;
            }

            .Limits__buttons {
                align-items: start;
                flex-direction: column;

                .Limit__button {
                    margin: 2px;
                    width: 100%;
                    font-size: 0.8em;
                }
            }
        }

        .MonitorChart {
            min-height: 200px;
            margin-top: 10px;
            padding: 10px;

            .recharts-legend-item-text {
                font-size: 12px !important;
            }
        }
    }
}

/* Small phones from 0px to 480px */
@media only screen and (max-width: 480px) {
    .App {
        .MonitorIndicators__head {
            .Period .Period__title {
                font-size: 14px;
                padding: 0 2%;
            }
        }

        .MonitorChart {
            min-height: 150px;
    
            .MonitorChart__head {
                width: 80% !important;

                .MonitorChart__title span {
                    padding: 0 15%;
                }

                .MonitorChart__title span,
                .MonitorChart__editor div,
                .MonitorChart__editor input {
                    font-size: 10px;
                }
            }

            .recharts-legend-item-text {
                font-size: 10px !important;
            }
        }
    }

    .Dialog {
        .ChartBalance { display: none; }
    }

    .Drawer {
        .Drawer__title {
            font-size: 10px;
        }

        .Drawer__ListItems { 
            .ListItem__text {
                font-size: 10px; 
            }

            svg {
                width: 16px !important;
                height: 16px !important;
            }

            .SummEditor__date,
            .SummEditor input {
                font-size: 10px;
            }
        }
    } 
}