@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
    margin: 0;
    padding: 0;
    font-family: Arimo, sans-serif;
    background-color: #F8F8FF;
}

// app styles
.App {
    max-width: 800px;
	margin:auto;
	height: 100%;
	padding: 16px;
    box-sizing: border-box;

    .HeadBlock__PeriodResultMoney {
		display: flex;
        justify-content: space-between;

        .HeadBlock__PeriodResult {
            display: flex;
            flex-direction: column;
            width: 66%;

    		.HeadPeriod {
    			display: flex;
    			justify-content: space-between;
      			align-items: center;
                width: 100%;
      			height: 30%;
    		}

            .HeadResult {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 70%;
            }
        }

		.HeadMoney {
			display: flex;
            flex-direction: column;
            width: 33%;
			height: 100%;

            .HeadMoney__action {
                display: flex;
                width: 100%;

                .HeadMoney__button {
                    width: 80%;
                }

                .HeadMoney__icon {
                    margin: auto;
                    width: 20%;
                    height: 100%;
                    cursor: pointer;
                }
            }
		}
    }

    .Limits {
    	padding: 16px;

    	display: flex;
    	justify-content: space-between;

        .limits__title {
            color: #A9A9A9;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    

	.ChartBlock {
		min-height: 400px;
		padding: 16px;

		display: flex;
		align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;

        span {
            color: rgb(170, 170, 170);
        }

        .ChartBlock__editor {
            width: 100%;
            height: 25px;

            display: flex;
		    align-items: center;
            justify-content: center;

            .SummEditor {
                max-width: 300px;
            }
        }

	}
}

input {
    font-size: 16px;
            
    &:focus {
        outline: 0;
    }
}

.Drawer {
    .Drawer__head {
        display: flex;
        justify-content: space-between;

        .Drawer__title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
        }

        .Drawer__buttons {
            display: flex;
            justify-content: flex-end;
            width: 50%;
        }
    }
    
    .Drawer__foot {
        display: flex;
        justify-content: center;
        width: 100%;
    }    
}

.SummEditor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;  

    .SummEditor__data {
        width: 33%;      

        input { width: 80%; }
    }                    

    .SummEditor__actions {
        display: flex;
        justify-content: space-around;
        width: 33%;
        cursor: pointer;
    }
}    

.DialogInputSumm {
    .InputSumm__date {
        display: flex;
        justify-content: space-between;

        .InputSumm__icon {
            margin: auto;
            cursor: pointer;
        }
    }    
}


div.show-errors {

    width: 100%;
    //max-width: calc(500px - 3em);
    font-size: 1.5em;

    div {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        //background-color: red;
        color: red;
        font-family: verdana, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;

    p {
        margin-left: 1em;
    }

    svg {
        font-size: 2em;
    }
  }
}