@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F8F8FF;
}

// app styles
.App {
    max-width: 800px;
	margin:auto;
	height: 100%;
	padding: 16px;
    box-sizing: border-box;

    .HeadBlock {
		display: flex;
        justify-content: space-between;
        width: 100%;
  		height: 100%;

        .HeadControl {
            display: flex;
            flex-direction: column;
            width: 66%;

    		.HeadPeriod {
    			display: flex;
    			justify-content: space-between;
      			align-items: center;
                width: 100%;
      			height: 30%;
    		}

            .HeadResult {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 70%;
                font-size: 36px;
            }
        }


		.HeadMoney {
			display: flex;
            flex-direction: column;
            width: 33%;
			height: 100%;

            .HeadMoney__action {
                display: flex;
                width: 100%;

                .HeadMoney__button {
                    width: 80%;
                }

                .HeadMoney__icon {
                    margin: auto;
                    width: 20%;
                    height: 100%;
                    cursor: pointer;
                }
            }
		}
    }

    .LimitsBlock {
    	padding: 16px;

    	display: flex;
    	justify-content: space-between;

        .limits__title {
            color: #A9A9A9;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    

	.Chart {
		min-height: 400px;
		padding: 16px;

		display: flex;
		align-items: center;
  		justify-content: center;
  		height: 100%;
	}
}

input {
    font-size: 16px;
    //margin: 8px 16px;
    //padding: 6px;
    width: 30%;
    //border: 1px solid @divider-color;
            
    &:focus {
        outline: 0;
        //border: 1px solid @primary-color;
    }
}


.Drawer {
    .Drawer__head {
        display: flex;
        justify-content: space-between;

        .Drawer__title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
        }

        .Drawer__buttons {
            display: flex;
            justify-content: flex-end;
            width: 50%;
        }
    }

    .ListItem {
        .ListItem__input {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .ListItem__data {
                width: 60%;
            }
            .ListItem__actions {
                display: flex;
                justify-content: space-around;
                width: 40%;
            }
        }    
    }

    .Drawer__foot {
        display: flex;
        justify-content: center;
        width: 100%;
    }    
}

.DialogInputSumm {
    .InputSumm__date {
        display: flex;
        justify-content: space-between;

        .InputSumm__icon {
            margin: auto;
            cursor: pointer;
        }
    }    
}


div.show-errors {

    width: 100%;
    //max-width: calc(500px - 3em);
    font-size: 1.5em;

    div {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        //background-color: red;
        color: red;
        font-family: verdana, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;

    p {
        margin-left: 1em;
    }

    svg {
        font-size: 2em;
    }
  }
}